/* mall-web自定义页面样式 */
.page-title {
  padding: 0px;
  font-size: 20px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 20px 0px 15px 0px;
  font-weight: 300;
  font-family: 'Open Sans';
}

.form-topline{
	margin:5% 0;
}

.div-top-gap{
	margin-top:10%;
}

.div-bottom-gap{
	margin-bottom:10px;
}

.sysimg{
	width:120px;
	height:55px;
	cursor:pointer;
}
.sysimg:hover{
	transform:scale(2.0);/* 2.0指的是放大的倍数 */
}